.map-container {
    width: 57%;
    height: 100vh;
    position: absolute;
    overflow-y: hidden;
    }


@media (max-width: 768px){
    .map-container {
        width: 100%;
        height: 100vh;
        position: absolute;
    }
}